// Заголовки, общие БЄМ блоки и прочее...
//====================================================================================================
@use "sass:math";
//====================================================================================================
.visually-hidden {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
//====================================================================================================
//Заголовки
.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: rem(30);

	font-weight: 700;
	@include adaptiveValue("font-size", 48, 28);
	line-height: math.div(72, 48);
}
